In [1]:
import pandas as pd
#assuming you want all the sheets
sheet_name = "dummy_data"
all_dfs = pd.read_excel(f'{sheet_name}.xlsx', sheet_name=None) #reads all sheets into a dict

final_df = pd.DataFrame(columns=['Name', 'Balance'])

for name, df in all_dfs.items():
    row = pd.Series([name, df.iloc[-1,-1]], index=['Name', 'Balance'])
    final_df = pd.concat([final_df, row.to_frame().T], ignore_index=True)
final_df.loc[final_df['Balance'] <= -5000000, 'less_than_5_million?'] = 'True'
final_df.sort_values('Balance')
final_df
#final_df.to_csv("cash_report.csv", mode='a')

   Name     Balance less_than_5_million?
0  YU46  1329030.26                  nan
1  BWLK  -5076830.0                 True
2  JKLO     9030.26                  nan
3  YU50         0.0                  nan

In [4]:
all_dfs.keys()

dict_keys(['YU46', 'BWLK', 'JKLO', 'YU50'])

In [3]:
xl = pd.ExcelFile(f'{sheet_name}.xlsx')
xl.sheet_names

['YU46', 'BWLK', 'JKLO', 'YU50']